<footer>
  <div class="contact-us-backgroud">

    <div class="contact-us">
      <div class="contact-us-discuss-title">
        <h1>let's discuss making your interior like a dream place!</h1>
      </div>
      <div class="contact-us-details">
        <h3>Contact us below to work together to build your amazing interior</h3>
        <button (click)="contactUs()">Contact Us</button>
      </div>
    </div>

  </div>
  <div class="email-input-backgroud">
    <div class="email-input">
      <div class="footer-title-container">
        <img src="/assets/images/logo.png">
        <h1 class="footer-title">One of the best furniture agency.</h1>
      </div>
      <div class="email-input-container">
        <div class="email-input-title">
          <h4>Enter your email to get the latest news</h4>
        </div>
        <div class="email-input-field-container">
          <a href="#"><img src="/assets/images/vector.jpg"></a>
          <mat-form-field>
            <input matInput placeholder="Email Address">
          </mat-form-field>
        </div>
        <div class="social-medias-icons-container">
          <h2>Follow us on</h2>
          <div class="icons">
            <a href="https://www.facebook.com"><img src="/assets/images/facebook.png"></a>
            <a href="https://www.instagram.com"><img src="/assets/images/instagram.png"></a>
            <a href="https://www.tiktok.com"><img src="/assets/images/tiktok.png"></a>
            <a href="https://www.youtube.com"><img src="/assets/images/youtube.png"></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>