<footer>
  <div class="first-block">
    <div class="first-sub">
      <div class="firstSub">
        <h1>let's discuss making your interior like a dream place!</h1>
      </div>
      <div class="secondSub">
        <h3 class="subTitle">Contact us below to work together to build your amazing interior</h3>
        <button (click)="contactUs()">Contact Us</button>
      </div>
    </div>
  </div>
  <div class="second-block">
    <div class="main-content">
      <div class="first">
        <img src="/assets/images/logo.png">
        <h3 class="footer-title">One of the best furniture agency.</h3>
      </div>
      <div class="second">
        <div class="contactInfo">
          <h4 class="smallTitle">Enter  your email to get the latest news</h4>
        </div>
        <div class="inputField">
          <a href="#"><img src="/assets/images/vector.jpg"></a>
          <mat-form-field>
            <input matInput placeholder="Email Address">
          </mat-form-field>
        </div>
        <div class="social_medias">
          <h2 class="iconTitle">Follow us on</h2>
          <div class="icons">
            <a href="https://www.facebook.com"><img class="icon" src="/assets/images/facebook.png"></a>
            <a href="https://www.instagram.com"><img class="icon" src="/assets/images/instagram.png"></a>
            <a href="https://www.tiktok.com"><img class="icon" src="/assets/images/tiktok.png"></a>
            <a href="https://www.youtube.com"><img class="icon" src="/assets/images/youtube.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
