<div class="main-container">
  <div class="title-block">
    <div class="title">
      <h1>Minimalist Room</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout.</p>
    </div>
  </div>
  <div class="pics">
    <div class="pic">
      <img src="/assets/images/home.jpg">
    </div>
  </div>
  <div class="info-block">
    <div class="info">
      <h3 class="subtitles">Project Overview</h3>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can
        be done anytime and anywhere. </p>
      <div class="info-detail">
        <p>July 22 - 2022</p>
        <p>Interior Design - Furniture</p>
      </div>
    </div>
    <div class="info">
      <h3 class="subtitles">Design Process</h3>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can
        be done anytime and anywhere.</p>
      <p class="paragraph">Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can
        be done anytime and anywhere.</p>
    </div>
  </div>
  <div class="pics">
    <div class="pic">
      <img src="/assets/images/chair.jpg">
    </div>
    <div class="pic">
      <img src="/assets/images/mirror.jpg">
    </div>
  </div>
  <div class="pics">
    <div class="pic">
      <img src="/assets/images/home_interior.jpg">
    </div>
  </div>
  <div class="pics">
    <div class="pic">
      <img src="/assets/images/lamp.jpg">
    </div>
    <div class="pic">
      <img src="/assets/images/walls.jpg">
    </div>
  </div>
</div>